section#serviceDetails

  h3.page-heading Verdiğim Hizmetler

  h1.article-heading {{ serviceTitle }}

  .container

    template(v-if='serviceNote')
      .alert.alert-info
        strong ÖNEMLİ:
        |
        | {{ serviceNote }}

    h4.section-heading Kapsam
    pre {{ serviceScope }}

    .row.service-images
      template(v-for='image in serviceImages')
        figure.col
          img(:src="image.src", :alt="image.alt").img-fluid
          figcaption {{ image.alt }}
    
    //- SERVICE PRICE
    h4.section-heading Hizmet Ücreti

    button.btn.btn-warning(v-if='!isVisible' @click='isVisible = !isVisible' v-finger:tap='visible') Ücret bilgisini görmek için tıklayın

    div(v-else-if='servicePrice >= 0') 
      p Hizmet bedeli {{ servicePrice * Math.round(EURTRY) }}₺'dır.
      p Satın alma linki: 
        a(:href='servicePaymentLink' target=';blank') {{ servicePaymentLink }}

    p(v-else) Hizmet bedeli belirtilmemiştir. Teklif almak için lütfen iletişime geçin.
    //- #SERVICE PRICE

    .row
      .col-12.col-xl-6
        h4.section-heading Hizmet Ücretine Dahil Olanlar:
        ul
          template(v-for='included in serviceIncludes')
            li {{ included }}
      .col-12.col-xl-6
        h4.section-heading Hizmet Ücretine Dahil Olmayanlar:
        p {{ serviceNotIncluded }}

    h4.section-heading Kontenjan:
    p {{ serviceQuota }}

    .back-to-list
      a(href='/#services')
        .btn.btn-lg.btn-secondary
          i.fa.fa-angle-double-left(aria-hidden="true")
          | &nbsp; Tüm Hizmetler

  //- p Alternatif Hizmet Önerileri Component'i
