mixin services-list-item(href, src, name)
  .col-6.col-sm-4.col-md-6.col-lg-4.col-xl-3
    .canvas
      a(href=href)
        img.img-fluid(src="../../assets/services/list/" + src, alt=name)
        p= name

section#services

  h3.page-heading {{ sectionTitle }}

  .pp
    .row.services-list
      +services-list-item("#", "dsd.jpg", "Deneme Dalışı")
      +services-list-item("#", "refresh.jpg", "Tazeleme Dalışı")
      +services-list-item("#", "improvement.jpg", "Gelişim Dalışı")
      +services-list-item("#", "beinginstructor.jpg", "Eğitmenlik Kursuna Hazırlık")
      +services-list-item("#", "beinggue.jpg", "GUE Kurslarına Hazırlık")
      +services-list-item("#", "photography.jpg", "Sualtı Fotoğraf Çekimi")
      +services-list-item("#", "consulting.jpg", "Kurumsal Danışmanlık")
