#mainmenu

  .mainmenu-btn(v-on:click= 'toggleMenu')
    i.fa.fa-bars(v-if= '!isActive')
    i.fa.fa-times(v-if= 'isActive')

  nav.mainmenu(v-if= "isActive")

    input#esc(type='text' @keyup.esc='toggleMenu' @keyup.enter='consoleLog' autofocus)

    ul
      li.col-6.col-md-4
        a(v-on:click= "isActive = !isActive", href='/#aboutme')
          i.fa.fa-user
          span Hakkımda
      li.col-6.col-md-4
        a(v-on:click= "isActive = !isActive", href='/#certificates')
          i.fa.fa-id-card-o
          span Brövelerim
      li.col-6.col-md-4
        a(v-on:click= "isActive = !isActive", href='/#courses')
          i.fa.fa-book
          span Verdiğim Eğitimler
      li.col-6.col-md-4
        a(v-on:click= "isActive = !isActive", href='/#services')
          i.fa.fa-handshake-o
          span Verdiğim Hizmerler
      li.col-6.col-md-4
        a(v-on:click= "isActive = !isActive", href='/#contact')
          i.fa.fa-envelope
          span İletişim
      //- li(v-on:click= "isActive = !isActive").col-6.col-md-4
      //-   router-link(to='/scheduled-classes' exact)
      //-     i.fa.fa-camera
      //-     span Fotoğraf Galerisi
      li(v-on:click= "isActive = !isActive").col-6.col-md-4
        router-link(to='/scheduled-classes' exact)
          i.fa.fa-calendar-check-o
          span Etkinlik Takvimi
