#mainmenu

  .mainmenu-btn
    button
      i.fa.fa-bars

  .mainmenu
    ul
      li
        a(href='#aboutme') Hakkımda
      li
        a(href='#certificates') Brövelerim
      li
        a(href='#courses') Verdiğim Eğitimler
      li
        a(href='#services') Verdiğim Hizmerler
      li
        a(href='#contact') İletişim
