section#faq

  h3.page-heading {{ sectionTitle }}

  .pp
    ul.list-group
      li.list-group-item.justify-content-between
        | Yüzme öğretiyor musunuz?
        span.badge.badge-default.badge-pill 14
      
      li.list-group-item.justify-content-between
        | Yüzme bilmiyorum, dalış yapabilir miyim?
        span.badge.badge-default.badge-pill 2

      li.list-group-item.justify-content-between
        | Daha önce hiç dalmadım, nasıl başlayabilirim?
        span.badge.badge-default.badge-pill 1
