//////////////////////////////////////////////////
//                    WIDTH                     //
//////////////////////////////////////////////////
$sidebar-width: 35%
$content-width: calc(100% - #{$sidebar-width})

//////////////////////////////////////////////////
//                    COLOR                     //
//////////////////////////////////////////////////
$neptun-dark: #071c71
$neptun-light: #1a85ef

//////////////////////////////////////////////////

::selection
  background: yellow
