//////////////////////////////////////////////////
//                MEDIA QUERIES                 //
//////////////////////////////////////////////////
$xs: 575px      // max-width
$sm: 767px      // max-width
$md: 991px      // max-width
$lg: 1199px     // max-width
$xs1: calc($xs + 1px)     // min-width
$md1: calc($sm + 1px)     // min-width
$sm1: calc($md + 1px)     // min-width
$lg1: calc($lg + 1px)     // min-width



//////////////////////////////////////////////////
//                    WIDTH                     //
//////////////////////////////////////////////////
$sidebar-width: 360px
$content-width: calc(100% - #{$sidebar-width})



//////////////////////////////////////////////////
//                    COLOR                     //
//////////////////////////////////////////////////
$neptun-dark: #071c71
$neptun-light: #1a85ef
$content-bgc: #f0f0f0
$content-color: #2c3e50
$sidebar-bgc: #010422



//////////////////////////////////////////////////
//                    FONTS                     //
//////////////////////////////////////////////////
h1, h2, h3, h4, h5, h6
  font-weight: 500

h1
  font-size: 2.5em

h2
  font-size: 2em

h3
  font-size: 2em

h4
  font-size: 1.8em

p
  font-size: 1.25em
  line-height: 1.5em

strong
  font-weight: 600

em
  font-style: italic

label
  font-size: 1.2em
  line-height: 1.5em
  margin-bottom: .4em

small
  line-height: 1.2em

a:hover
  text-decoration: none !important


//////////////////////////////////////////////////

::selection
  background: #FF0
  color: #000
