@import "./settings.sass"

#app
  font-family: 'Avenir', Helvetica, Arial, sans-serif
  -webkit-font-smoothing: antialiased
  -moz-osx-font-smoothing: grayscale
  color: #2c3e50
  background-color: #f0f0f0

  main.content
    margin-left: $sidebar-width
    width: $content-width
    padding: 3em 0
    font-size: 1.25em

    a
      color: $neptun-light

      &:hover
        color: $neptun-dark

  .pp
    padding: 3em

  @media (max-width: 767px) // Mobile View XS and SM
    main.content
      width: 100%
      margin-left: 0

    .pp
      padding: 1.5em

  @media (max-width: 575px) // Mobile View XS
    main.content
      padding-bottom: 8em



//////////////////////////////////////////////////
//                 SOCIAL MEDIA                 //
//////////////////////////////////////////////////
.social-media
  margin: 0
  padding: 0

  li
    display: inline-block
    font-size: 2em
    margin: .3em

//////////////////////////////////////////////////
//                   HEADINGS                   //
//////////////////////////////////////////////////
.page-heading
  background-color: $neptun-light
  color: #FFF
  margin: 0
  padding: 2em
  font-weight: 700
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.3)
  font-size: 2em

.section-heading
  position: relative
  margin-top: 3em

.section-heading:after,
.section-heading:before
  content: ''
  position: absolute
  left: 0
  display: block
  width: 100%
  height: 1px
  background: rgba(0, 0, 0, 0.2)
  background: -webkit-gradient(linear, 0% 50%, 100% 50%, color-stop(0%, rgba(0, 0, 0, 0.2)), color-stop(65%, rgba(0, 0, 0, 0.2)), color-stop(100%, rgba(0, 0, 0, 0)))
  background: -webkit-linear-gradient(left, rgba(0, 0, 0, 0.2) 0%, rgba(0, 0, 0, 0.2) 65%, rgba(0, 0, 0, 0) 100%)
  background: -moz-linear-gradient(left, rgba(0, 0, 0, 0.2) 0%, rgba(0, 0, 0, 0.2) 65%, rgba(0, 0, 0, 0) 100%)
  background: -o-linear-gradient(left, rgba(0, 0, 0, 0.2) 0%, rgba(0, 0, 0, 0.2) 65%, rgba(0, 0, 0, 0) 100%)
  background: linear-gradient(left, rgba(0, 0, 0, 0.2) 0%, rgba(0, 0, 0, 0.2) 65%, rgba(0, 0, 0, 0) 100%)

.section-heading:after
  bottom: -3px

.section-heading:before
  bottom: -5px

@media (max-width: 767px) // Mobile View XS and SM
  .page-heading
    padding: .75em

  .section-heading
    margin-top: 2em

//////////////////////////////////////////////////
//                 IMAGE CANVAS                 //
//////////////////////////////////////////////////

.canvas
  margin: 0
  width: 100%
  height: 100%
  padding: .5em .5em 0
  -webkit-box-shadow: 0 0 3px 1px rgba(0, 0, 0, 0.2)
  -moz-box-shadow: 0 0 3px 1px rgba(0, 0, 0, 0.2)
  box-shadow: 0 0 3px 1px rgba(0, 0, 0, 0.2)
  background-color: #fefefe
  text-align: center
  line-height: 2em

  p
    margin: 0

.pp > .row > *
  margin-bottom: 1.5em
