@import '../../node_modules/reset-css/_reset.scss'
@import './settings.sass'

html, body, #app
  background-color: $content-bgc

#app
  font-family: 'Avenir', Helvetica, Arial, sans-serif
  -webkit-font-smoothing: antialiased
  -moz-osx-font-smoothing: grayscale
  color: $content-color

  main.content
    margin-left: $sidebar-width
    width: $content-width
    padding: .6em 0 3em

    a
      color: $neptun-light

      &:hover
        color: $sidebar-bgc


  @media (max-width: $md)
    main.content
      margin-left: 295px
      width: calc(100% - 295px)

  @media (min-width: $lg1)
    main.content
      margin-left: 25%
      width: calc(100% - 25%)

  @media (min-width: $sm1)
    main.content
      -webkit-transition: all 0.5s ease
      -moz-transition: all 0.5s ease
      -o-transition: all 0.5s ease
      transition: all 0.5s ease

  .pp
    padding: 4em

    .pp-info
      margin: -1em 0 1em

  @media (max-width: $sm)
    main.content
      width: 100%
      margin-left: 0

    .pp
      padding: 1.5em

      .pp-info
        margin: 0 0 1em

  @media (max-width: $xs)
    main.content
      padding-bottom: 6em

    .pp
      padding: 1.5em 1em

      .row > *
        padding-right: 7px
        padding-left: 7px
        margin-bottom: .7em



//////////////////////////////////////////////////
//                 SOCIAL MEDIA                 //
//////////////////////////////////////////////////
.social-media
  margin: 0
  padding: 0

  li
    display: inline-block
    font-size: 2em
    margin: .3em

//////////////////////////////////////////////////
//                   HEADINGS                   //
//////////////////////////////////////////////////
.page-heading
  background-color: $neptun-light
  color: #FFF
  margin: 0
  padding: .8em 1.85em
  font-weight: 700 !important
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.3)

.section-heading
  position: relative
  margin: 3em 0 1em
  line-height: 1.3em

.section-heading:after,
.section-heading:before
  content: ''
  position: absolute
  left: 0
  display: block
  width: 100%
  height: 1px
  background: rgba(0, 0, 0, 0.2)
  background: -webkit-gradient(linear, 0% 50%, 100% 50%, color-stop(0%, rgba(0, 0, 0, 0.2)), color-stop(65%, rgba(0, 0, 0, 0.2)), color-stop(100%, rgba(0, 0, 0, 0)))
  background: -webkit-linear-gradient(left, rgba(0, 0, 0, 0.2) 0%, rgba(0, 0, 0, 0.2) 65%, rgba(0, 0, 0, 0) 100%)
  background: -moz-linear-gradient(left, rgba(0, 0, 0, 0.2) 0%, rgba(0, 0, 0, 0.2) 65%, rgba(0, 0, 0, 0) 100%)
  background: -o-linear-gradient(left, rgba(0, 0, 0, 0.2) 0%, rgba(0, 0, 0, 0.2) 65%, rgba(0, 0, 0, 0) 100%)
  background: linear-gradient(left, rgba(0, 0, 0, 0.2) 0%, rgba(0, 0, 0, 0.2) 65%, rgba(0, 0, 0, 0) 100%)

.section-heading:after
  bottom: -3px

.section-heading:before
  bottom: -5px

@media (max-width: $sm)
  .page-heading
    padding: .75em

  .section-heading
    margin-top: 1.5em

//////////////////////////////////////////////////
//                 IMAGE CANVAS                 //
//////////////////////////////////////////////////

.canvas
  margin: 0
  width: 100%
  height: 100%
  padding: .5em .5em
  -webkit-box-shadow: 0 0 3px 1px rgba(0, 0, 0, 0.2)
  -moz-box-shadow: 0 0 3px 1px rgba(0, 0, 0, 0.2)
  box-shadow: 0 0 3px 1px rgba(0, 0, 0, 0.2)
  background-color: #fefefe
  text-align: center
  line-height: 2em

  &.upsidedown

    img
      vertical-align: middle

    p
      line-height: 1.7em

  p
    margin: 0
    font-weight: 900
    line-height: 1em

.pp > .row > *
  margin-bottom: 1.5em
