//- #FooterMobileMessage.hidden-sm-up
//-   .row
//-     .col-6
//-       a(href="https://api.whatsapp.com/send?phone=905555435144&amp;text=Dalış%20kursları%20hakkında%20bilgi%20almak%20istiyorum" target="_blank" title="Whatsapp")
//-         i.fa.fa-whatsapp
//-     .col-6
//-       a(href="https://www.messenger.com/t/daliskursu" target="_blank" title="Facebook Messenger")
//-         i.fa.fa-commenting

#FooterMobileMessage.hidden-sm-up
  a(href="https://api.whatsapp.com/send?phone=905555435144&amp;text=Dalış%20kursları%20hakkında%20bilgi%20almak%20istiyorum" target="_blank" title="Whatsapp")
    img(src="../../assets/whatsapp-icon.png", alt="whatsapp")
