section#contact

  h3.page-heading {{ sectionTitle }}

  #google-maps

  .pp
    .row

      .col-sm-6.col-lg-5.col-xl-4
        .contact-info
          strong Nevcan Uludaş
          br
          span(v-if='!isVisible' @dblclick='isVisible = !isVisible' v-finger:doubletap='visible').show-info [İletişim bilgilerini görmek için çift tıklayın]
          span(v-else)
            a(href='tel:+905555435144') +90 (555) 543 5144
            br
            a(href='mailto:nevcan@neptunsualti.com') nevcan@neptunsualti.com
          br
          a(href='http://neptunsualti.com/', target='_blank') www.neptunsualti.com
          br
          a(href='http://gueturkey.com/', target='_blank') www.gueturkey.com
        br.hidden-sm-up

        .row.contact-icons.hidden-xs-down
          .col-6
            a(href="https://api.whatsapp.com/send?phone=905555435144&text=Dalış%20kursları%20hakkında%20bilgi%20almak%20istiyorum" target="_blank" title="Whatsapp")
              i.fa.fa-whatsapp
          .col-6
            a(href="https://www.messenger.com/t/daliskursu" target="_blank" title="Facebook Messenger")
              i.fa.fa-commenting

        iframe(src="https://embed.rateyourdive.com/en/widget.php?id=8283" height="280" width="100%" frameborder="0" scrolling="no" target="_blank")

      .col-sm-6.col-lg-7.col-xl-8
        form(v-on:submit='formSubmit')

          .form-group
            label(for='form_name') Ad Soyad
            input#form_name.form-control(type='text', placeholder='Ad Soyad')

          .form-group.has-warning
            label(for='form_email') Email
            input#form_email.form-control.form-control-warning(type='email', placeholder='Lütfen e-mail adresinizi doğru girin')
            small.form-control-feedback E-mail adresiniz üzerinden bilgilendirme yapılacaktır.

          .form-group
            label(for='form_message') Mesajınız
            textarea#form_message.form-control(rows='7')

          button.btn.btn-primary.pull-right(type='submit' disabled) Mesajı Gönder
