section#courses

  h3.page-heading {{ sectionTitle }}

  .pp

    p.pp-info.alert.alert-warning
      | Planlanmış eğitim ve tur tarihleri için
      router-link(to='/scheduled-classes' exact) &nbsp;Etkinlik Takvimi&nbsp;
      | sayfasına bakabilirsiniz.

    .courses-filter
      .btn-group(role="group" aria-label="Career Filter")
        button(type="button" @click="showAllCompanies").btn.btn-sm.btn-secondary Tümü
        button(type="button" @click="showTssf").btn.btn-sm.btn-secondary TSSF
        button(type="button" @click="showProtec").btn.btn-sm.btn-secondary ProTec
      .btn-group.float-right(role="group" aria-label="Career Filter")
        button(type="button" @click="showAllCourses").btn.btn-sm.btn-secondary Tümü
        button(type="button" @click="showScuba").btn.btn-sm.btn-secondary Dalıcı
        button(type="button" @click="showSpecialty").btn.btn-sm.btn-secondary Uzmanlık
        button(type="button" @click="showDisabled").btn.btn-sm.btn-secondary Engelli
        button(type="button" @click="showFree").btn.btn-sm.btn-secondary Serbest
        button(type="button" @click="showSpecialProgram").btn.btn-sm.btn-secondary Özel Programlar

    .row.courses-list
      template(v-for='course in courses' v-if='course.isVisible && course.isCompanyVisible')
        .col-6.col-sm-4.col-md-6.col-lg-4.col-xl-3
          router-link(:to="'/courses/' + course.id")
            .canvas-overlay(:title= 'course.name')
              .btn
                i.fa.fa-search
            .canvas.upsidedown(:title= 'course.name')
              p {{ course.name }}
              img.img-fluid(:src= "'/static/img/courses-list/' + course.imageUrl + '.jpg'", :alt= 'course.name')
