section#courses

  h3.page-heading {{ sectionTitle }}

  .pp

    .row.courses-list
      template(v-for='course in courses')
        .col-6.col-sm-4.col-md-6.col-lg-4.col-xl-3
          .canvas.upsidedown
            a(:href= 'course.link')
              p {{ course.name }}
              img.img-fluid(:src= 'imagePath', :alt= 'course.name')
