section#courses

  h3.page-heading {{ sectionTitle }}

  .pp

    p.pp-info
      | Planlanmış eğitim ve tur tarihleri için
      router-link(to='/scheduled-classes' exact) &nbsp;Etkinlik Takvimi&nbsp;
      | sayfasına bakabilirsiniz.

    .row.courses-list
      template(v-for='course in courses')
        .col-6.col-sm-4.col-md-6.col-lg-4.col-xl-3
          .canvas.upsidedown
            router-link(:to="'/courses/' + course.id")
              p {{ course.name }}
              img.img-fluid(:src= "'/static/img/list/' + course.imageUrl + '.jpg'", :alt= 'course.name')
