section#courseDetails

  h3.page-heading Verdiğim Eğitimler

  h1.article-heading {{ courseTitle }}

  .container

    h4.section-heading Kurs Ücreti
    p(v-if='!isVisible' @dblclick='isVisible = !isVisible' v-finger:doubletap='visible') [Ücret bilgisini görmek için çift tıklayın]
    p(v-else) {{ coursePrice }}

    template(v-if='courseNote')
      .alert.alert-info
        strong ÖNEMLİ:
        |
        | {{ courseNote }}

    h4.section-heading Kapsam
    p {{ courseScope }}

    template(v-for='image in courseImages')
      img(src="image.src", alt="image.alt")

    .alert.alert-success(v-if='courseHasPadiClass')
      strong NOT:
      | PADI belgesi almak isteyenler
      |
      a(href="http://neptunsualti.com/kurslar-padi.html?ref=nevcancom_courseDetails", target="_blank") neptunsualti.com
      |
      | adresini ziyaret edebilirler.

    h4.section-heading Ön Şartlar:
    ol
      template(v-for='prerequisite in coursePrerequisites')
        li {{ prerequisite }}

    h4.section-heading Kurs Ücretine Dahil Olanlar:
    ul
      template(v-for='included in courseIncludes')
        li {{ included }}

    h4.section-heading Kurs Ücretine Dahil Olmayanlar:
    p {{ courseNotIncluded }}

    h4.section-heading Kontenjan:
    p {{ courseQuota }}

  //- router-link(:to='router.go(-1)')
    button.btn.btn-secondary Tüm Kurslar'a Geri Dön

  p Alternatif Kurs Önerileri Component'i
