section#courseDetails

  h3.page-heading Verdiğim Eğitimler

  h1.article-heading {{ courseTitle }}

  .container

    h4.section-heading Kurs Ücreti
    p(v-if='!isVisible' @dblclick='isVisible = !isVisible' v-finger:doubletap='visible') [Ücret bilgisini görmek için çift tıklayın]
    p(v-else) {{ coursePrice }}

    template(v-if='courseNote')
      .alert.alert-info
        strong ÖNEMLİ:
        |
        | {{ courseNote }}

    h4.section-heading Kapsam
    pre {{ courseScope }}

    .row.course-images
      template(v-for='image in courseImages')
        figure.col
          img(:src="image.src", :alt="image.alt").img-fluid
          figcaption {{ image.alt }}

    .alert.alert-success(v-if='courseHasPadiClass || courseHasSsiClass').mt-0
      strong NOT:&nbsp;
      ul
        li(v-if='courseHasPadiClass')
          | PADI belgesi almak isteyenler&nbsp;
          a(href="http://neptunsualti.com/kurslar-padi.html?ref=nevcancom_courseDetails", target="_blank") neptunsualti.com
          | &nbsp;adresini ziyaret edebilirler.
        li(v-if='courseHasSsiClass')
          | SSI belgesi almak isteyenler&nbsp;
          a(href="https://pendikdalisokulu.com/ssi-egitimleri-2/?ref=nevcancom_courseDetails", target="_blank") pendikdalisokulu.com
          | &nbsp;adresini ziyaret edebilirler.

    h4.section-heading Ön Şartlar:
    ol
      template(v-for='prerequisite in coursePrerequisites')
        li {{ prerequisite }}

    .row
      .col-12.col-xl-6
        h4.section-heading Kurs Ücretine Dahil Olanlar:
        ul
          template(v-for='included in courseIncludes')
            li {{ included }}
      .col-12.col-xl-6
        h4.section-heading Kurs Ücretine Dahil Olmayanlar:
        p {{ courseNotIncluded }}

    h4.section-heading Kontenjan:
    p {{ courseQuota }}

    .back-to-list
      a(href='/#courses')
        .btn.btn-lg.btn-secondary
          i.fa.fa-angle-double-left(aria-hidden="true")
          | &nbsp; Tüm Kurslar

  //- p Alternatif Kurs Önerileri Component'i
