@import "../../styles/settings.sass"

#courseDetails
  margin-bottom: 10em

  .section-heading
    margin-top: 2em

  .course-images
    text-align: center
    margin: 2em 0

  @media (min-width: $sm)
    .container
      padding: 1em 4em
