@import "../../styles/settings.sass"

#conservation

  .career-filter .btn-group
    z-index: 2

  .company-list > *
    margin: 1em 0
    opacity: 0.65
    -webkit-transition: opacity 0.2s linear
    -moz-transition: opacity 0.2s linear
    -o-transition: opacity 0.2s linear
    transition: opacity 0.2s linear

    &:hover
      opacity: 1