section#conservation

  h3.page-heading {{ sectionTitle }}

  .pp

    .conservation-filter.text-right
      .btn-group(role="group" aria-label="Career Filter")
        button(type="button" @click="showAllConservations").btn.btn-sm.btn-secondary Tümü
        button(type="button" @click="showConservation").btn.btn-sm.btn-secondary Koruma
        button(type="button" @click="showExploration").btn.btn-sm.btn-secondary Keşif
        button(type="button" @click="showResearch").btn.btn-sm.btn-secondary Araştırma

    .row.conservation-list
      template(v-for='conservation in conservations' v-if='conservation.isVisible')
        .col-6.col-sm-4.col-md-6.col-lg-4.col-xl-4
          router-link(:to="'/conservation/' + conservation.id")
            .canvas-overlay(:title= 'conservation.name')
              .btn
                i.fa.fa-search
            .canvas
              img.img-fluid(:src= "'/static/img/conservation-list/' + conservation.imageUrl + '.jpg'", :alt= 'conservation.name')
              p {{ conservation.name }}

    app-conservation-company-list
