section#conservation

  h3.page-heading {{ sectionTitle }}

  .pp
    .row.conservation-list
      template(v-for='conservation in conservations')
        .col-6.col-sm-4.col-md-6.col-lg-4.col-xl-4
          router-link(:to="'/conservation/' + conservation.id")
            .canvas-overlay
              .btn
                i.fa.fa-search
            .canvas
              img.img-fluid(:src= "'/static/img/conservation-list/' + conservation.imageUrl + '.jpg'", :alt= 'conservation.name')
              p {{ conservation.name }}

    app-conservation-company-list
