section#conservationDetails

  h3.page-heading Koruma & Keşif Projeleri

  h1.article-heading {{ conservationTitle }}

  .container

    p {{ conservationScope }}
    template(v-if= 'conservationUrl != null')
      br
      br
      iframe(width="100%" height="450" :src="conservationUrl" style="background: #333" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen)
    br
    br
    p.text-center
      | Daha fazla bilgi için 
      a(href="http://gueturkey.com/pb-marmara" target="_blank") ProjectBaseline: Marmara 
      | sayfasını ziyaret edebilirsiniz.

    .back-to-list
      a(href='/#conservation')
        .btn.btn-lg.btn-secondary
          i.fa.fa-angle-double-left(aria-hidden="true")
          | &nbsp; Tüm Koruma Projeleri
