include ../Shared/social-media.pug

#sidebar
  aside.portrait.hidden-sm-down
    .portrait__img
      router-link(to='/' exact)
        img.img-fluid(src="../../assets/portrait-gue-v2.png" alt="Nevcan Uludaş")

    .portrait__description
      .portrait__description__name Nevcan Uludaş
      a(href="http://neptunsualti.com/" target="_blank" title="Neptün Sualtı Merkezi")
        img.portrait__description__img(src="../../assets/neptun-icon-white.png" alt="Neptün Sualtı Merkezi")
      .portrait__description__title {{ $t('sidebar.scubaInstructor') }}

    .portrait__footer
      .language
        i.fa.fa-globe(aria-hidden='true')
        select.select-language(v-model="locale")
          option(value="tr") Türkçe
          option(value="en") English

      ul.social-media
        +social-media-item("https://medium.com/neptunsualti", "Medium")(class="fa-medium")
        +social-media-item("https://instagram.com/nevcanuludas", "Instagram")(class="fa-instagram")
        +social-media-item("https://sketchfab.com/nevcanuludas", "Sketchfab")(class="fa-cube")
        +social-media-item("https://linkedin.com/in/nevcanuludas", "Linkedin")(class="fa-linkedin")

  aside.portrait-mobile.hidden-md-up
    .row
      .col-4
        .portrait__img
          router-link(to='/' exact)
            img.img-fluid(src="../../assets/portrait-gue-v2.png" alt="Nevcan Uludaş")

      .col-8
        .portrait__description
            .portrait__description__name Nevcan Uludaş
            .portrait__description__title {{ $t('sidebar.scubaInstructor') }}
