<div id="sidebar">
  <aside class="portrait hidden-sm-down">
    <div class="portrait__img">
      <a href="#">
        <img src="../../assets/portrait-gue-v2.png" class="img-fluid" alt="Nevcan Uludaş">
      </a>
    </div>

    <div class="portrait__description">
      <h1 class="portrait__description__name">Nevcan Uludaş</h1>
      <a href="http://neptunsualti.com/" target="_blank" title="Neptün Sualtı Merkezi">
        <img src="../../assets/neptun-icon-white.png" alt="Neptün Sualtı Merkezi" class="portrait__description__img">
      </a>
      <h2 class="portrait__description__title">Dalış Eğitmeni</h2>
    </div>

    <div class="portrait__footer">
      <ul class="social-media">
        <li>
          <a href="https://medium.com/neptunsualti" target="_blank" title="Medium">
            <i class="fa fa-medium"></i>
          </a>
        </li>
        <li>
          <a href="https://instagram.com/nevcanuludas" target="_blank" title="Instagram">
            <i class="fa fa-instagram"></i>
          </a>
        </li>
        <li>
          <a href="https://www.facebook.com/daliskursu" target="_blank" title="Facebook">
            <i class="fa fa-facebook"></i>
          </a>
        </li>
        <li>
          <a href="https://linkedin.com/in/nevcanuludas" target="_blank" title="Linkedin">
            <i class="fa fa-linkedin"></i>
          </a>
        </li>
        <li>
          <a href="https://twitter.com/nevcanuludas" target="_blank" title="Twitter">
            <i class="fa fa-twitter"></i>
          </a>
        </li>
      </ul>
    </div>
  </aside>

  <aside class="portrait-mobile hidden-md-up">
    <div class="row">
      <div class="col-4">
        <div class="portrait__img">
          <img src="../../assets/portrait-gue-v2.png" class="img-fluid" alt="Nevcan Uludaş">
        </div>
      </div>
      <div class="col-8">
          <div class="portrait__description">
            <h1 class="portrait__description__name">Nevcan Uludaş</h1>
            <h2 class="portrait__description__title">Dalış Eğitmeni</h2>
        </div>
      </div>
    </div>
  </aside>
</div>
