@import "../../styles/settings.sass"

.footer
  margin: 5em auto 1em
  color: #BBB
  font-size: .6em
  line-height: 2em
  text-align: center

  .social-media
    margin: 2em auto
    font-size: .9em

    li
      margin: 7px .65em

      a
        color: #BBB !important

        &:hover
          color: #2d3e50 !important

@media (max-width: 767px) // Mobile View XS and SM
  .footer
    padding: 0 2.6em
