include ../Shared/social-media.pug

section.footer
  ul.social-media
    +social-media-item("https://medium.com/neptunsualti", "Medium")(class="fa-medium")
    +social-media-item("https://inploid.com/nevcanuludas", "Inploid")(class="fa-comment")
    +social-media-item("https://instagram.com/nevcanuludas", "Instagram")(class="fa-instagram")
    +social-media-item("https://www.facebook.com/daliskursu", "Facebook Page")(class="fa-facebook")
    +social-media-item("https://facebook.com/nevcanuludas", "Facebook")(class="fa-facebook-square")
    +social-media-item("https://linkedin.com/in/nevcanuludas", "Linkedin")(class="fa-linkedin")
    +social-media-item("https://twitter.com/nevcanuludas", "Twitter")(class="fa-twitter")
    +social-media-item("http://nevcanuludas.tumblr.com/", "Tumblr")(class="fa-tumblr")
    +social-media-item("https://sketchfab.com/nevcanuludas", "Sketchfab")(class="fa-cube")

  .copyright
    | Copyright © 1987 - Tüm Hakları Saklıdır.
    br
    | GUE Mağara Dalgıcı | TSSF/CMAS Dalış Eğitmeni | ProTec Dalış Eğitmeni | ILS/TSSF Cankurtaran
    br
    | Sportif Dalış | Teknik Dalış | Mağara Dalışı | Serbest Dalış | Engelli Dalışı | Cankurtarma
