@import "../../styles/settings.sass"

.footer
  margin: 3em auto 1em
  color: #BBB
  font-size: .8em
  line-height: 2em
  text-align: center

  .social-media
    margin: 2em auto

    li
      margin: 7px .65em

      a
        color: #BBB !important

        &:hover
          color: $sidebar-bgc !important



@media (max-width: $sm)

  .footer
    padding: 0 2.2em



@media (max-width: $xs)

  .footer .social-media
    font-size: 1.1em
    line-height: 3em
