section#certificates

  h3.page-heading {{ sectionTitle }}

  .pp
    .row.certificates-list
      template(v-for='certificate in certificates')
        .col-6.col-sm-4.col-md-6.col-lg-4.col-xl-4
          router-link(:to="'/certificates/' + certificate.id")
            .canvas-overlay
              .btn
                i.fa.fa-search
            .canvas
              img.img-fluid(:src= "'/static/img/certificate-list/' + certificate.imageUrl + '.png'", :alt= 'certificate.name')
              p {{ certificate.name }}

    app-instructor-level

    app-personal-evolution
