mixin skill-list-horizontal-item(company, level)
  li
    .skill-list-horizontal__bar(style!=attributes.style)
      strong= company
      span.pull-right= level

mixin skill-list-vertical-item(genre, company)
  li
    .skill-list-vertical__bar(style!=attributes.style)
      strong= genre
      span.company= company

//- Mixin Ends

section#certificates

  h3.page-heading {{ sectionTitle }}

  .pp
    .row.certificates-list
      template(v-for='certificate in certificates')
        .col-6.col-sm-4.col-md-6.col-lg-4.col-xl-4
          router-link(:to="'/certificates/' + certificate.id")
            .canvas-overlay
              .btn
                i.fa.fa-search
            .canvas
              img.img-fluid(:src= "'/static/img/certificate-list/' + certificate.imageUrl + '.png'", :alt= 'certificate.name')
              p {{ certificate.name }}

    h4.section-heading Eğitmenlik Düzeyi:

    ul.skill-list-horizontal
      +skill-list-horizontal-item("TSSF/CMAS", "2* Dalış Eğitmeni")(style="width: calc(100%*5/6)")
      +skill-list-horizontal-item("TSSF", "Engelli Dalıcı Eğitmeni")(style="width: calc(100%*5/6)")
      +skill-list-horizontal-item("TSSF", "Uzman Dalıcı Eğitmeni")(style="width: calc(100%*17/17)")
      +skill-list-horizontal-item("PROTEC", "2* Dalış Eğitmeni")(style="width: calc(100%*5/6)")
      +skill-list-horizontal-item("PROTEC", "Serbest Dalış Eğitmeni")(style="width: calc(100%*4/6)")
      +skill-list-horizontal-item("PROTEC", "Uzman Dalıcı Eğitmeni")(style="width: calc(100%*8/22)")

    h4.section-heading Kişisel Gelişim:

    ul.skill-list-vertical
      +skill-list-vertical-item("Mağara Dalışı", "GUE")(style="height: 40%")
      +skill-list-vertical-item("CCR", "SF2")(style="height: 60%")
      +skill-list-vertical-item("Carkurtarma", "ILS/TSSF")(style="height: 85%")

      .label-beginner Beginner
      .line-beginner
      .label-inter Intermediate
      .line-inter
      .label-adv Advanced
      .line-adv
      .label-guru Instructor
      .line-guru
