section#certificates

  h3.page-heading
    template(v-if= "$t('selectedLang') == 'tr'")
      | {{ sectionTitle }}

    template(v-if= "$t('selectedLang') == 'en'")
      | {{ sectionTitleEN }}

  .pp
    .row.view-options
      .col.text-right
        .btn-group
          button(aria-label='Grid' type="button" @click='switchToGridView' :class="{'active': isActiveTab == 'grid'}").btn.btn-secondary
            i.fa.fa-th
          button(aria-label='List' type="button" @click='switchToListView' :class="{'active': isActiveTab == 'list'}").btn.btn-secondary
            i.fa.fa-list-ul

    .row.certificates-list(v-show = '!isListView')
      template(v-for='category in certificateCategories')
        .col-6.col-sm-4.col-md-6.col-lg-4.col-xl-4
          router-link(:to="'/certificates/' + category.id")
            .canvas-overlay(:title= 'category.name')
              .btn
                i.fa.fa-search
            .canvas
              img.img-fluid(:src= "'/static/img/certificate-list/' + category.imageUrl + '.png'", :alt= 'category.name')
              p {{ category.name }}

    .row.certificates-list(v-show = 'isListView')
      .col-12
        ol
          template(v-for='certificate in certificateList')
            li(v-for= 'item in certificate.images') {{ item.alt }}
            li(v-for= 'item in certificate.imagesI') {{ item.alt }}
            li(v-for= 'item in certificate.imagesSI') {{ item.alt }}
            li(v-for= 'item in certificate.imagesSD') {{ item.alt }}
            li(v-for= 'item in certificate.imagesXR') {{ item.alt }}
            li(v-for= 'item in certificate.imagesFD') {{ item.alt }}
            li(v-for= 'item in certificate.imagesT') {{ item.alt }}

    app-instructor-level

    app-personal-evolution
