@import "../../styles/settings.sass"

#aboutme

  p
    margin-bottom: 1em

  .licences
    margin-top: 5em
    text-align: center

    .circle
      margin: 0 auto
      border: 2px solid rgb(44, 62, 80)
      border-radius: 50%
      padding: 2.5em 0
      width: 10em
      height: 10em

    i
      font-size: 3em
