section#aboutme

  h3.page-heading {{ sectionTitle }}

  .pp
    p Merhaba, ben Nevcan Uludaş.
    p Sualtında nefes almaya üniversite yıllarında ('08) okulun sualtı kulübü ile başladım. İlk dalışımın ardından hocam bana kendimi nasıl hissettiğimi sorduğunda, ona "#[em Bende eğitmen olacağım!]" cevabını vermiştim. Gülümsedikten sonra "#[em Önce şu kursu tamamlayalım, sonra eğitmen olursun]" demişti.
    p Bugün <a href="http://neptunsualti.com" target="_blank">#[strong Neptün Sualtı Merkezi]</a>'nin  kurucusu ve aynı zamanda eğitmeniyim. Kulüplerimde her seviyede #[strong Sportif Dalış] (#[abbr(title="Self Contained Underwater Breathing Apparatus") SCUBA]), #[strong Serbest Dalış] (Freediving) ve engelli arkadaşlarımız için özel dalış eğitimleri veriyorum. Ayrıca 2018 yılında kurduğum #[strong Global Underwater Explorers] gibi ayrıcalıklı bir ekolün Türkiye partneri olan <a href="http://gueturkey.com" target="_blank">#[strong GUE Turkey]</a>'in aktif olarak başkanlığını yapıyorum.
    p  Bireysel olarak #[span(title="Nitrox, Heliox, Trimix, Hydrox") karışım gazlarla], kapalı devre sistemlerle (#[abbr(title="Closed Circuit Rebreather") CCR]) ve gerçek tutkum olan mağara dalışlarıyla yakından ilgileniyorum. Bunların yanı sıra dünya çapında sualtını koruma ve keşif girişimlerine gönüllü olarak destek olmaya çalışıyorum.

    app-career-list

    app-company-list
