section#aboutme

  h3.page-heading 
    template(v-if= "$t('selectedLang') == 'tr'")
      | {{ sectionTitle }}

    template(v-if= "$t('selectedLang') == 'en'")
      | {{ sectionTitleEN }}

  .pp
    template(v-if= "$t('selectedLang') == 'tr'")
      p Merhaba, ben Nevcan Uludaş.
      p Sualtında nefes almaya üniversite yıllarında ('08) okulun sualtı kulübü ile başladım. İlk dalışımın ardından hocam bana kendimi nasıl hissettiğimi sorduğunda, ona "#[q Bende eğitmen olacağım!]" cevabını vermiştim. Gülümsedikten sonra "#[q Önce şu kursu tamamlayalım, sonra eğitmen olursun]" demişti.
      p Bugün <a href="http://neptunsualti.com" target="_blank">#[strong Neptün Sualtı Merkezi]</a>'nin  kurucusu ve aynı zamanda eğitmeniyim. Eğitim merkezlerinde her seviyede #[strong Sportif Dalış] (#[abbr(title="Self Contained Underwater Breathing Apparatus") SCUBA]), #[strong Serbest Dalış] (Freediving) ve engelli arkadaşlarımız için özel dalış eğitimleri veriyorum. 
      p Ayrıca, #[strong Global Underwater Explorers] gibi öncü bir ekolün ülke yöneticiliğini yapıyorum. GUE'nin resmi Türkiye partneri olan <a href="http://gueturkey.com" target="_blank">#[strong GUE Turkey]</a>'in aktif olarak eğitim, koruma ve keşif organizasyonlarından sorumluyum. Eğitmenlik sürecim devam ediyor ve Türkiye'deki ilk GUE eğitmeni olmak için sabırsızlanıyorum :)
      p Bireysel olarak #[span(title="Nitrox, Heliox, Trimix, Hydrox") karışım gazlarla], kapalı devre sistemlerle (#[abbr(title="Closed Circuit Rebreather") CCR]) ve gerçek tutkum olan mağara dalışlarıyla yakından ilgileniyorum. Bunların yanı sıra dünya çapında sualtını koruma ve keşif projelerine gönüllü olarak destek oluyorum.
    
    template(v-else-if= "$t('selectedLang') == 'en'")
      p Hello, I'm Nevcan Uludaş.
      p I started to breathing in underwater on my university years ('08) with the school's diving club. After my first dive, my instructor asked to me how I felt myself and I replied "I will become an instructor too". Then he smiled and said to me "After you complete this course, you can be an instructor too".
      p Now, I am the founder and the instructor at Neptun Diving Center. On the other hand I realize worldwide education programs for protecting underwater and supporting exploration venture. Also I have been included in many different underwater exploration projects.
      p I give dive training courses for Scuba Diving, Freediving and Handicap Diving (for disabled friends) in my clubs. Also I am individually interested in technical deep diving, mixture gases, closed circuit rebreathers (CCR) and my actual passion cave diving.

    .row.licences
      .col-6.col-lg-3
        .circle
          i.fa.fa-motorcycle
          p A Sınıfı

      .col-6.col-lg-3
        .circle
          i.fa.fa-car
          p B Sınıfı

      .col-6.col-lg-3
        .circle
          i.fa.fa-ship
          p Gemici

      .col-6.col-lg-3
        .circle
          i.fa.fa-crosshairs(style='transform: rotate(45deg)')
          p IHA-1 Ticari

    app-career-list

    app-company-list
