include ../Shared/company-logos.pug

section#company-list

  h4.section-heading 
    template(v-if= "$t('selectedLang') == 'tr'")
      | Üyesi olduğum organizasyonlar:

    template(v-if= "$t('selectedLang') == 'en'")
      | Organizations that I am a member of:

  .row.company-list
    +company-list-item("https://gue.com/", "Global Underwater Explorers", "gue.png")
    +company-list-item("https://tssf.gov.tr/", "Türkiye Sualtı Sporları Federasyonu", "tssf.png")
    +company-list-item("http://www.cmas.org/", "Dünya Sualtı Aktiviteleri Konfederasyonu", "cmas.png")
    +company-list-item("https://aidainternational.org/", "AIDA International", "aida.png")
    +company-list-item("https://divessi.com/", "Scuba Schools International", "ssi.png")
    +company-list-item("https://ilsf.org/", "International Life Saving", "ilsf.png")
    //- +company-list-item("https://emergencyfirstresponse.com/", "Emergency First Response", "efr.png")
    +company-list-item("https://tdisdi.com/tdi/", "Technical Diving International", "tdi.png")
    +company-list-item("https://protecdive.com/", "International Professional Technical & Recreational Diving", "protec.png")
    +company-list-item("https://halcyon.net/", "Halcyon", "halcyon.png")
    +company-list-item("https://scubaforce.eu/", "Scuba Force SF2", "sf2.png")
    +company-list-item("https://suex.it/", "SUEX", "suex.png")
    +company-list-item("https://shearwater.com/", "Shearwater", "shearwater.png")
